!!!
%html
  %head
    %title
      Megasite
    != stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    != javascript_include_tag 'application', 'data-turbolinks-track' => true
    != csrf_meta_tags

%body
  .header
    %div Awesome Quotes of Doom
  .sidebar
    .login_box
      My sidebar left me
    .links
      Links for everyone!!!
  .main
    != yield
